
<h1>Choose your favorite!</h1>

<div class="add-btn"><%= link_to 'Add character', new_candidate_path %></div>

<table>
  <thead>
    <tr>
      <td></td>
      <td>Votes</td>
      <td>Name</td>
      <td>Party</td>
      <td>Age</td>
      <td>Action</td>
    </tr>
  </thead>


  <tbody>
    <% @candidates.each do |candidate| %>
    <tr>
      <td>
        <div class="vote-btn"><%= link_to 'vote', vote_candidate_path(candidate.id),method: 'POST', data: { confirm: "Are sure to vote it?"}%></div>
      </td>
      <!-- vote_logs.size這個寫法比較能有關聯性 -->
      <td><%= candidate.vote_logs.size %></td>
      <td><%= link_to candidate.name, candidate_path(candidate.id) %></a></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.age %></td>
      <td>
        <div class="edit-btn"><%= link_to 'update', edit_candidate_path(candidate.id) %></div>
        <!-- data: {confirm: 'are you sure?!'}是一個防呆機制，會跳出像alert那種提醒視窗。 -->
        <div class="edit-btn"><%= link_to 'delete', candidate_path(candidate.id), method: 'delete', data: {confirm: 'are you sure?!'} %></div>
      </td>
    </tr>
    <% end %>
  </tbody>


</table>

